@if (release() != null) {
<div class="row">
  <mk-heading [title]="release().releaseTitle" />

  <div class="offset-lg-1 col-lg-4 col-md-5 col-sm-12">
    <div class="cover-container">
      <div (click)="shareOnFacebook()" class="share-button" aria-label="Share on Facebook"
        [matTooltip]="'Share on Facebook'" [matTooltipPosition]="'right'"
      >
        <app-svg-icon icon="share"/>
      </div>

      <app-picture [cover]="release().releaseCover" [alt]="'Cover image for ' + release().releaseTitle" [class]="'release-cover'"
        [imageFolder]="'release-cover/'" (click)="toggleCoverModal()" [priority]="true"></app-picture>
    </div>

    <a class="s-go-back" routerLink="/releases">
      <app-svg-icon icon="arrowLeft"/>Go to Releases page
    </a>
  </div>

  <div class="col-lg-6 col-md-7 col-sm-12">
    @if (release().albumBandcampId) {
    <app-audio-player [albumBandcampId]="release().albumBandcampId"></app-audio-player>
    }
  </div>

  <div class="offset-lg-1 col-lg-10">
    <div class="release-actions">
      @if (release().beatspaceLink) {
      <div class="release-actions__side">

        <p class="release-actions__title">CD Purchase:</p>

        <a href="{{release().beatspaceLink}}" target="_blank" class="release-link">
          <div class="release-actions__icon"></div> Beatspace
        </a>
      </div>
      }

      @if (release().bandcampLink || release().bandcamp24Link) {
      <div class="release-actions__side">
        <p class="release-actions__title">{{release().isFree ? "Free Download:" : "Buy Digital:"}}</p>

        <div class="release-actions__links">
          @if (release().bandcampLink) {
          <a href="{{release().bandcampLink}}" target="_blank" class="release-link" rel="noreferrer">
            <app-svg-icon icon="bandcamp"/> Bandcamp</a>
          }

          @if (release().bandcamp24Link) {
          <a href="{{release().bandcamp24Link}}" target="_blank" class="release-link" rel="noreferrer">
            <app-svg-icon icon="bandcamp"/> Bandcamp 24 bit</a>
          }
        </div>
      </div>
      }

      @if (release().streamingLinks) {
      <div class="release-actions__side">
        <p class="release-actions__title">Streaming:</p>

        <div class="release-actions__links">
          @if (release().streamingLinks.spotify) {
          <a href="{{release().streamingLinks.spotify}}" target="_blank" class="release-link" rel="noreferrer">
            <app-svg-icon icon="spotify"/> Spotify
          </a>
          }

          @if (release().streamingLinks.appleMusic) {
          <a href="{{release().streamingLinks.appleMusic}}" target="_blank" class="release-link" rel="noreferrer">
            <app-svg-icon icon="appleMusic"/> Apple Music
          </a>
          }

          @if (release().streamingLinks.tidal) {
          <a href="{{release().streamingLinks.tidal}}" target="_blank" class="release-link" rel="noreferrer">
            <app-svg-icon icon="tidal"/> Tidal
          </a>
          }

          @if (release().streamingLinks.beatport) {
          <a href="{{release().streamingLinks.beatport}}" target="_blank" class="release-link"rel="noreferrer">
            <app-svg-icon icon="beatport"/> Beatport
          </a>
          }
        </div>
      </div>
      }
    </div>

    <h2 class="small-title">About</h2>

    <div class="release-description">
      @for (description of release().releaseDescription; track description.paragraph) {
      <p class="release-description__paragraph">
        {{description.paragraph}}
      </p>
      }
    </div>

    <h2 class="small-title text-right">Credits</h2>

    <div class="release-credits text-align-right">
      @if (release().compiledBy) {
      <p class="release-credits__paragraph">
        Compiled by <a
          routerLink="{{'/artists/' + release().compiledBy.replace(' ', '-').toLowerCase()}}">{{release().compiledBy}}</a>
      </p>
      }

      @if (release().releaseAuthor) {
      <p class="release-credits__paragraph">
        W&P by {{release().releaseAuthor}}
      </p>
      }

      @if (release().masteredBy) {
      <p class="release-credits__paragraph">
        Mastered by {{release().masteredBy}}
      </p>
      }

      @if (release().artworkBy) {
      <p class="release-credits__paragraph">
        Artwork by {{release().artworkBy}}
      </p>
      }

      <p class="release-credits__paragraph">
        Release date: {{release().releaseDate || "Coming soon" }}
      </p>

      @if (bpm()) {
      <p class="release-credits__paragraph">
        BPM: {{bpm()}}
      </p>
      }

      @if(release().styles?.length > 0) {
        <p class="release-credits__paragraph">
          Style: 
          @for (style of release().styles; track style; let last = $last) {
            @if (styleExists(style)) {
              <a [routerLink]="['/styles', style.toLocaleLowerCase().replaceAll(' ', '-')]">{{style}}</a>
            } @else {
              <span>{{style}}</span>
            }
            @if (!last) {, }
          }
        </p>
      }

      @if (release().tracklist) {
        <details class="release-credits__tracklist">
          <summary>Tracklist</summary>

          <ol>
            @for (track of release().tracklist; track $index) {
              <li>{{track}}</li>
            }
          </ol>
        </details>
      }
    </div>

    @if (involvedArtists().length > 0) {
    <div class="col-md-12 col-sm-12 s-involved-artists">
      <h2 class="small-title mb-0">Involved musicians</h2>

      @for (artist of involvedArtists(); track artist) {
      <div class="s-involved-artists__item">
        <a [routerLink]="['/artists', artist.artistRoute]" class="s-involved-artists__content">
          <img class="s-involved-artists__image" [src]="`/assets/images/artists/m_${artist.artistAvatar}`" [alt]="artist.artistName + ' avatar'">

          <div class="s-involved-artists__name">{{artist.artistName}}</div>
        </a>
      </div>
      }
    </div>
    }
  </div>

  @if (release().embedVideo) {
  <div class="offset-md-1 col-md-10 col-sm-12">
    <app-shared-video [embedVideo]="release().embedVideo"></app-shared-video>
  </div>
  }
</div>
}

@if (coverModalOpen()) {
<div class="cover-modal" (click)="toggleCoverModal()">
  <div class="cover-modal__content" (click)="$event.stopPropagation()">
    <button class="cover-modal__close" (click)="toggleCoverModal()" aria-label="Close modal">
      <app-svg-icon icon="close"/>
    </button>
    
    <app-picture [cover]="release().releaseCover" [alt]="'Cover image for ' + release().releaseTitle" [class]="'release-cover-zoom'"
      [imageFolder]="'release-cover/'"></app-picture>
  </div>
</div>
}

<div class="catalog">
  @if (previousRelease()) {
  <div class="catalog__prev">
    <p>Previous release:</p>

    <app-release-card [releaseItem]="previousRelease()"></app-release-card>
  </div>
  }

  @if (nextRelease()) {
  <div class="catalog__next">
    <p>Next release:</p>

    <app-release-card [releaseItem]="nextRelease()"></app-release-card>
  </div>
  }
</div>