<mk-heading class="mt-4" [title]="'Artists (' + artists().length + ')'"
	[subTitle]="'Get to know the creative minds behind our music'" />

<div class="filter">
	<mat-form-field appearance="outline">
		<mat-label>Filter by country</mat-label>

		<mat-select [(ngModel)]="choosenCountries" multiple>
			@for (country of countryList(); track country) {
			<mat-option [value]="country.artistCountry">
				<svg class="artist-item__flag">
					<use [attr.xlink:href]="'assets/images/flags-sprite.svg#' + country.flag"></use>
				</svg>
				{{country.artistCountry}}
			</mat-option>
			}
		</mat-select>
	</mat-form-field>

	<mat-form-field appearance="outline">
		<mat-label>Filter by status</mat-label>

		<mat-select [(ngModel)]="choosenStatus">
			@for (status of statusList; track status) {
			<mat-option [value]="status">
				{{status}}
			</mat-option>
			}
		</mat-select>
	</mat-form-field>

	<ul class="filter__list">
		<li class="filter__list-item">
			<i class="far fa-star"></i> - featured artist
		</li>
		<li class="filter__list-item">
			<i class="far fa-eye-slash"></i> - inactive/closed project
		</li>
	</ul>
</div>

@if (artistsWithLetters().length) {
<section class="artists-wrapper mb-16">
	@for (item of artistsWithLetters(); track item.artistRoute) {
	@if (item.letter) {
	<div class="letter-separator">
		{{ item.letter }}
	</div>
	}

	<div class="artist-item">
		<a [routerLink]="['/artists', item.artistRoute]" class="artist-item__link">
			<p class="artist-item__name">
				{{item.artistName}}

				<span class="artist-item__icon">
					@if (item.featured) {
					<i class="far fa-star"></i>
					}

					@if (item.inactive) {
					<i class="far fa-eye-slash"></i>
					}
				</span>
			</p>

			<svg class="artist-item__flag">
				<use [attr.xlink:href]="'assets/images/flags-sprite.svg#' + item.flag"></use>
			</svg>
		</a>
	</div>
	}
</section>
}

<mk-heading [title]="'DJs (' + djs().length + ')'" [subTitle]="'Meet our talented roster of DJs'" />

@if (djs().length) {
<section class="artists-wrapper">
	@for (item of djs(); track item.artistRoute) {
	<div class="artist-item mb-16">
		<a [routerLink]="['/artists', item.artistRoute]" class="artist-item__link">
			<p class="artist-item__name">{{item.artistName}}
				<sup>
					@if (item.featured) {
					<i class="far fa-star"></i>
					}
				</sup>
			</p>

			<svg class="artist-item__flag">
				<use [attr.xlink:href]="'assets/images/flags-sprite.svg#' + item.flag"></use>
			</svg>
		</a>
	</div>
	}
</section>
}