@if (artist()) {
	<mk-heading [title]="artist().artistName" />

	<div class="artist-wrapper">
		@if (artist().artistAvatar) {
			<div class="artist-foto-wrapper">
				<img class="artist-foto" src="/assets/images/artists/{{artist().artistAvatar}}" alt="{{artist().artistName}}" fetchpriority="high">
			</div>
		}

		<div class="artist-details-wrapper">
			<div class="s-go-back" routerLink="/artists">
				<i class="fas fa-long-arrow-alt-left" aria-hidden="true"></i>Go to Artists page
			</div>

			@if (artist().artistRealName || artist().artistCountry) {
			<dl class="artist-details-list">
				@if (artist().artistRealName) {
					<div>
						<dt>Real name</dt>
						<dd>{{artist().artistRealName}}</dd>
					</div>
				}
				
				@if (artist().artistCountry) {
					<div>
						<dt>Country</dt>
						<dd>{{artist().artistCountry}}</dd>
					</div>
				}
			</dl>
			}

			<div class="s-artist-description">
				@for (description of artist().artistDescription; track description) {
					<p class="s-artist-description__item">
						{{description.paragraph}}
					</p>
				}
			</div>

			<div class="btn-group float-end" role="group">
				<!--<a class="btn btn-link" href="javascript: void(0)" (click)="share()"
					title="Share on Facebook">
					<i class="fas fa-share fa-2x"></i>
				</a>-->

				@if (artist().artistFacebook) {
				<a class="btn btn-link" href="{{artist().artistFacebook}}" target="_blank" rel="noreferrer" [matTooltip]="'Facebook'"
					[matTooltipPosition]="'above'" [matTooltipShowDelay]="100" aria-label="Facebook">
					<i class="fab fa-facebook-square fa-2x" aria-hidden="true"></i>
				</a>
				}
				
				@if (artist().artistSoundcloud) {
				<a class="btn btn-link" href="{{artist().artistSoundcloud}}" target="_blank" rel="noreferrer" [matTooltip]="'SoundCloud'"
					[matTooltipPosition]="'above'" [matTooltipShowDelay]="100" aria-label="SoundCloud">
					<i class="fab fa-soundcloud fa-2x" aria-hidden="true"></i>
				</a>
				}
				
				@if (artist().artistInstagram) {
				<a class="btn btn-link" href="{{artist().artistInstagram}}" target="_blank" rel="noreferrer" [matTooltip]="'Instagram'"
					[matTooltipPosition]="'above'" [matTooltipShowDelay]="100" aria-label="Instagram">
					<i class="fab fa-instagram fa-2x" aria-hidden="true"></i>
				</a>
				}
				
				@if (artist().artistMixcloud) {
				<a class="btn btn-link" href="{{artist().artistMixcloud}}" target="_blank" rel="noreferrer" [matTooltip]="'Mixcloud'"
					[matTooltipPosition]="'above'" [matTooltipShowDelay]="100" aria-label="Mixcloud">
					<i class="fab fa-mixcloud fa-2x" aria-hidden="true"></i>
				</a>
				}
			</div>
		</div>
	</div>

	@if (artistReleases().length > 0) {
		<div class="s-involved row">
			<h2 class="small-title">Releases with {{artist().artistName}}</h2>

			@for (release of artistReleases(); track release.releaseTitle) {
				<div class="mb-16 col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-6">
					<app-release-card [releaseItem]="release"></app-release-card>
				</div>
			}
		</div>
	}

	@if (artist().mixes) {
		<div class="s-mixes">
			@for (mix of artist().mixes; track mix) {
				<div class="s-mixes__item">
					<p class="s-mix-year">{{mix.year}}</p>
					
					<div class="s-mix-block" [innerHTML]="mix.embedCode | safe: 'html'"></div>
				</div>
			}
		</div>
	}
}
