@use '../../../styles/utils' as *;

.header {
	position: relative;
	
    .navbar {
		background: rgba(0, 0, 0, 0.8) !important;
    	backdrop-filter: saturate(180%) blur(20px);
    }

    .navbar-nav {
        .nav-link {
            padding: 10px 13px;
            color: #9d9d9d;
            transition: .1s;
            font-size: 1rem;
			white-space: nowrap;
			font-weight: 400;
			line-height: normal;
			display: flex;

            &:hover {
                color: #dee2e6;
			}
        }
    }

    .nav-item {
		cursor: default;

        &.active {
            .nav-link {
                color: #dee2e6;
            }
        }
    }

    .navbar-brand {
        font-size: 1rem;
        color: #9d9d9d;
		transition: .1s;
		font-weight: 400;
		min-width: unset;
		background: linear-gradient(90deg, cyan, #b771e9);
		background-clip: text;
		-webkit-text-fill-color: transparent;
    }
}

.dropdown {
	&:hover {
		.dropdown-menu {
			display: block;
			margin-top: 0;
		}
	}
}

.dropdown-menu-dark {
	background-color: rgba(0,0,0,.9);
	backdrop-filter: saturate(180%) blur(20px);
}

.dropdown-toggle:after {
	display: none;
}

.external-link {
	width: .75rem;
	height: .75rem;
	margin-right: -.75rem;
	display: inline-block;

	path {
		stroke: currentColor;
	}
}

@include mobile {
    .header {
        .navbar-nav .nav-link {
			display: block;
			line-height: 2rem;
			text-align: left;
			text-align: start;
		} 
    }
}

.out-now {
	background: rgba(0, 0, 0, 0.8) radial-gradient(140% 100% at 50% 0%, rgba(102, 51, 238, 0.2) 0%, transparent 70%);
    border-top: 1px solid rgba(102, 51, 238, 0.3);
    border-bottom: 1px solid rgba(102, 51, 238, 0.2);
	font-size: .75rem;

	&__label {
		color: #9d9d9d;
		white-space: nowrap;
	}

	&__title {
		color: #dee2e6;
		font-weight: 500;
		display: flex;
		flex-wrap: wrap;
		gap: 0 .25rem;
	}

	&__title-primary,
	&__title-secondary {
		white-space: nowrap;
	}

	&__link {
		display: flex;
		align-items: center;
		padding: .5rem 1rem;
		text-decoration: none;
		gap: 1rem;
	}

	&__cta {
		color: #b771e9;
		font-weight: 500;
		text-decoration: none;
		border-bottom: 1px solid transparent;
		transition: .1s;
		white-space: nowrap;

		&:hover {
			border-color: #b771e9;
		}
	}
}
