<div class="page">
	<div class="wrapper">
		<div class="moon"></div>

		<div class="black-planet"></div>

		<div class="diamond">
			<div class="diamond__item diamond__item--big">
				<div class="diamond__top-item diamond__top-item--big"></div>
				<div class="diamond__bottom-item diamond__bottom-item--big"></div>
			</div>

			<div class="diamond__item diamond__item--middle">
				<div class="diamond__top-item diamond__top-item--middle"></div>
				<div class="diamond__bottom-item diamond__bottom-item--middle"></div>
			</div>

			<div class="diamond__item diamond__item--small">
				<div class="diamond__top-item diamond__top-item--small"></div>
				<div class="diamond__bottom-item diamond__bottom-item--small"></div>
			</div>
		</div>

		<div class="crystal"></div>
	</div>

	<h1>
		<a class="link" routerLink="/" itemprop="name">Moon Koradji Records</a>
	</h1>

	<div class="descript" itemprop="description">
		<p>Independent psychedelic music label Moon Koradji Records was founded in Ukraine in 2007 by Oleksandr
			Nikiienko, aka <a routerLink="/artists/dj-omsun">DJ Omsun</a>. The Moon Koradji brand itself, however, has
			existed since 2000, when it began as a psytrance event organization that shaped the Ukrainian underground
			scene throughout the following decade.</p>

		<p>The label is a unity of creative DJs and musicians - explorers of psychedelic music development. It follows
			its main purpose: to discover, collect, release, and produce high-quality music stuff for those, who
			appreciate the mysteries of psychedelic sound.</p>

		<p>We welcome creative musicians and skilled sound scientists with fresh ideas for creating and delivering
			innovative musical experiences.</p>

		<p>All the material will be appropriately collected and professionally evaluated.</p>

		<p>Contact us: <a href="mailto:info@moonkoradji.com">info&#64;moonkoradji.com</a></p>
	</div>
</div>