<picture class="picture">
  @if (cover().webp2x) {
    <source
      [srcset]="IMAGEFOLDER + imageFolder() + cover().webp2x + ' 2x'"
      type="image/webp"
      >
  }

  @if (cover().webp) {
    <source
      [srcset]="IMAGEFOLDER + imageFolder() + cover().webp"
      type="image/webp"
      >
  }

  <!-- <source
  *ngIf="cover().default"
  [srcset]="IMAGEFOLDER + imageFolder() + cover().default"
  type="image/jpeg"
  > -->

  <img
    [class]="class()"
    [src]="IMAGEFOLDER + imageFolder() + cover().default"
    alt=""
    loading="lazy"
    >
</picture>
