@use '../../../styles/_utils.scss' as *;

.podcast {
	$gap: 1rem;

	height: 300px;
	min-height: 200px;
	position: relative;
	z-index: 1;
	display: block;
	text-align: center;
	background: url("#{$imageFolder}/mk-bg-alt.jpg") no-repeat center / cover;

	&__item {
		display: flex;
		flex-direction: column;
		height: 100%;
		justify-content: center;
		align-items: center;
	}

	&__title {
		font-size: 1.5rem;
		text-shadow: 0 0 0.75em black;
		color: white;
		font-family: "Orbitron", sans-serif;
		margin-bottom: 0.5rem;
	}

	&__subtitle {
		color: var(--themeColor);
		text-transform: uppercase;
		font-size: 1rem;
		letter-spacing: 2px;
		margin-bottom: 1rem;
	}

	&__bg {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 70%;
		z-index: -1;
		opacity: 0.1;
		fill: var(--white);
	}

	&__border {
		&--top,
		&--bottom {
			position: absolute;
			width: 100%;
			height: 1px;
		}

		&--top {
			left: -$gap;
			top: -$gap;
			background: linear-gradient(
				to right,
				rgba(var(--themeColor--rgb), 0) 0%,
				rgba(var(--themeColor--rgb), 0.7) 100%
			);
		}

		&--bottom {
			right: -$gap;
			bottom: -$gap;
			background: linear-gradient(
				to right,
				rgba(var(--themeColor--rgb), 0.7) 0%,
				rgba(var(--themeColor--rgb), 0) 100%
			);
		}
	}

	::ng-deep .icon-podcast {
		color: var(--themeColor);
		font-size: 40px;
		margin-bottom: 1rem;
	}
}

.deco-p1,
.deco-p2 {
	width: 200px;
	height: auto;
	position: absolute;
	top: -75px;

	@include mobile {
		display: none;
	}
}

.deco-p1 {
    right: 50%;
}

.deco-p2 {
    left: 50%;
    transform: rotateY(180deg);
}