@use '../../styles/utils' as *;

// :host {
// 	position: relative;
// 	padding-top: 65px;
//     display: block;
// }

.s-module-title {
	font-size: 20px;
	font-weight: 400;
	text-align: center;
	margin-bottom: 1.5rem;
}

.s-module-subtitle {
	font-size: 16px;
	text-align: center;
	margin-bottom: .5rem;
}

.s-player-wrapper {
	max-width: 698px;
	width: 100%;
	margin: auto;
	position: relative;

	&:first-of-type {
		&::before,
		&::after {
			content: '';
			width: 400px;
			height: 400px;
			background: url('#{$imageFolder}/podcast-logo.png') no-repeat center / cover;
			position: absolute;
			z-index: -5;
			opacity: .5;
			top: 50%;
			transform: translateY(-50%);
		}
	
		&::before {
			left: -200px;
		}
	
		&::after {
			left: auto;
			right: -200px;
		}
	}
}

.loader {
	margin-bottom: -100%;
}

.fa-itunes {
	color: var(--themeColor);
}

.fab {
	margin-right: .5rem;
}

.podcasts-list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin-bottom: 2rem;
	padding: 0;
	list-style: none;

	&__item {
		margin: 5px;

		a {
			padding: 3px 5px;
			border: 1px solid;
			border-radius: 5px;
			white-space: nowrap;
			display: inline-block;
		}
	}
}

.google-podcast-icon {
	width: 14px;
	height: 14px;
}

@include desktopSmall {
	.s-player-wrapper:first-of-type {
		&::before {
			left: -145px;
		}

		&::after {
			right:  -145px;
		}
	}
}

@media (max-width: $desktop-small-width) {
	.s-player-wrapper {
		&::before,
		&::after {
			display: none;
		}
	}
}

// .deco-p1,
// .deco-p2 {
// 	width: 200px;
// 	height: auto;
// 	position: absolute;
// 	top: 0;
// }

// .deco-p1 {
//     right: 50%;
// }

// .deco-p2 {
//     left: 50%;
//     transform: rotateY(180deg);
// }
