<app-header class="sticky-top"/>

<div class="socials">
	<a class="socials__item socials__item--facebook" href="https://www.facebook.com/MoonKoradjiRecords/" target="_blank"
		[matTooltip]="'Facebook'" [matTooltipPosition]="'left'" [matTooltipShowDelay]="100"
	>
		<i class="fab fa-facebook-square"></i>
	</a>

	<a class="socials__item socials__item--soundcloud" href="https://soundcloud.com/moon-koradji-records" target="_blank"
		[matTooltip]="'SoundCloud'" [matTooltipPosition]="'left'" [matTooltipShowDelay]="100"
	>
		<i class="fab fa-soundcloud"></i>
	</a>

	<a class="socials__item socials__item--youtube" href="https://www.youtube.com/user/MoonKoradji?sub_confirmation=1" target="_blank"
		[matTooltip]="'YouTube'" [matTooltipPosition]="'left'" [matTooltipShowDelay]="100"
	>
		<i class="fab fa-youtube"></i>
	</a>

	<a class="socials__item socials__item--instagram" href="https://www.instagram.com/moonkoradjirecords/" target="_blank"
		[matTooltip]="'Instagram'" [matTooltipPosition]="'left'" [matTooltipShowDelay]="100"
	>
		<i class="fab fa-instagram"></i>
	</a>

	<!-- <a class="socials__item socials__item--tiktok" href="https://www.tiktok.com/@moonkoradji" target="_blank"
		[matTooltip]="'TikTok'" [matTooltipPosition]="'left'" [matTooltipShowDelay]="100"
	>
		<i class="fab fa-tiktok"></i>
	</a> -->
	
	<a class="socials__item socials__item--bandcamp" href="https://moonkoradjirecords.bandcamp.com/follow_me" target="_blank"
		[matTooltip]="'Bandcamp'" [matTooltipPosition]="'left'" [matTooltipShowDelay]="100"
	>
		<i class="fab fa-bandcamp"></i>
	</a>
</div>

@if (showing()) {
	<main class="container page" [class.dark]="showBackground()">
		<router-outlet/>
	</main>

	<app-footer/>

	<app-scroll-to-top/>
} 
@else {
	<div class="load"></div>
}

@if (showBackground()) {
	<div class="background"></div>

	<div class="background2"></div>

	<div class="anchor">
		<div class="anchor__side"></div>
		<div class="anchor__container container"></div>
		<div class="anchor__side"></div>
	</div>
	
	<div class="anchor bottom">
		<div class="anchor__side"></div>
		<div class="anchor__container container"></div>
		<div class="anchor__side"></div>
	</div>
}