@use '../../styles/_utils.scss' as *;

.releases {
    display: grid;
   //grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    grid-gap: 2rem 1rem;

    @include desktopSmall {
        grid-template-columns: repeat(3, 1fr);
    }

    @include tablet {
        grid-template-columns: repeat(2, 1fr);
    }

    @include mobile {
        grid-template-columns: 1fr;
    }
}
