<div class="swiper-container" aria-label="Featured Artists">
  <swiper-container #swiperEl>
    @for (item of items(); track item) {
      <swiper-slide>
        <a class="slide" routerLink="{{item.route}}">
          <div class="slide__image">
            <app-picture [cover]="item.image" [alt]="'Photo of ' + item.name" [imageFolder]="'artists/featured/'"></app-picture>
          </div>
          
          <span class="slide__text">
            {{item.name}}
          </span>
        </a>
      </swiper-slide>
    }
  </swiper-container>

  <div class="swiper-button-prev" #buttonPrev aria-label="Previous slide"></div>

  <div class="swiper-button-next" #buttonNext aria-label="Next slide"></div>
</div>
