<div class="swiper-container">
  <swiper-container>
    @for (item of items(); track item) {
      <swiper-slide>
        <a class="slide" routerLink="{{item.route}}">
          <div class="slide__image">
            <app-picture [cover]="item.image" [alt]="'Photo of ' + item.name" [imageFolder]="'artists/featured/'"></app-picture>
          </div>
          
          <div class="slide__text">
            {{item.name}}
          </div>
        </a>
      </swiper-slide>
    }
  </swiper-container>

  <div class="swiper-button-prev"></div>

  <div class="swiper-button-next"></div>
</div>
