$desktop-large-width: 1200px;
$desktop-small-width: 992px;
$tablet-width: 768px;

$imageFolder: "/assets/images";

$gap: 2rem;

$brand-border: 0 0 1px #fff, -1px -1px 1px #9ff, 1px -1px 1px #9c9, -1px 1px 1px #6cf, 1px 1px 1px #66f;

// $grid-breakpoints: (
// 	xs: 0,
// 	sm: 576px,
// 	md: 768px,
// 	lg: 992px,
// 	xl: 1200px,
// 	xxl: 1400px,
// );
