<app-welcome/>

<svg xmlns="http://www.w3.org/2000/svg" width="0" height="0">
  <defs>
    <linearGradient id="violetToCyan" x1="0%" y1="0%" x2="100%" y2="0%">
      <stop offset="0%" stop-color="violet" />
      <stop offset="100%" stop-color="cyan" />
    </linearGradient>
  </defs>
</svg>

@if (heroRelease()) {
	<app-hero [heroRelease]="heroRelease()"/>
}

@if (recentReleases().length > 0) {
  <section class="recent-releases-wrapper">
    <mk-heading [title]="'Recent Releases'" [subTitle]="'New psychedelic trance music from Moon Koradji Records'" [route]="'/releases'"/>

    <div class="recent-releases-inner">
      @for (release of recentReleases(); track $index) {
          <app-release-card [releaseItem]="release"/>
      }
    </div>
  </section>
}

<section class="podcast-wrapper">
  <app-podcast/>
</section>