@use '../../styles/_utils.scss' as *;

@import 'bootstrap/scss/_functions';
@import 'bootstrap/scss/_variables';
@import 'bootstrap/scss/mixins/_breakpoints';

.recent-releases-wrapper,
.podcast-wrapper,
.hero-wrapper {
	margin-bottom: 12rem;

	@include mobile {
		margin-bottom: 6rem;
	}
}

.hero-wrapper {
	scroll-margin-top: 10rem;
	margin-top: 2.2rem;

	@include mobile {
		scroll-margin-top: 4rem;
	}
}

.featured-artists-wrapper {
	margin-bottom: 5rem;

	@include mobile {
		margin-bottom: 3rem;
	}
}

::ng-deep .recent-releases-inner {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
	grid-auto-rows: 1fr;
	grid-gap: 2rem;
	position: relative;
	z-index: 10;

	> div {
		padding: .5rem;
		// position: relative;
		// background-image: conic-gradient(
		// 	from 45deg, rgb(197, 187, 184) 0deg, 
		// 	rgb(197, 187, 184) 90deg,
		// 	rgb(130, 155, 176) calc(90.1deg),
		// 	rgb(130, 155, 176) 180deg,
		// 	rgb(83, 114, 153) calc(180.1deg),
		// 	#63e 270deg,
		// 	rgb(91, 75, 116) calc(270.1deg), 
		// 	rgb(91, 75, 116) 360deg);
		// background-size: cover;
		// background-position: center center;
		// background-repeat: no-repeat;

		border: .25rem solid;
		//border-image: repeating-radial-gradient(circle at 10px, turquoise, pink 2px, greenyellow 4px, pink 2px) 1;
		border-image: repeating-radial-gradient(circle at 10px, cyan, #b771e9 2px, #63e   4px, #b771e9 2px) 1;
	}

	.release-card {
		border-radius: 0;
		border: 12px solid #111;
    	box-shadow: $brand-border;

		&__inner {
			background: linear-gradient(to bottom, transparent 50%, rgba(#111, 1) 100%);
		}
	}

	@include media-breakpoint-down(md) {
		> div {
			padding: .5rem;
		}

		> div:last-of-type {
			display: none;
		}
	}
}

::ng-deep app-release-card {
	opacity: 0;
	transition: .5s;

	@include media-breakpoint-up(lg) {
		&:nth-child(1) {
			transform: translateX(-20px);
		}

		&:nth-child(3) {
			transform: translateX(20px);
		}
	}

	&.animate-in {
		opacity: 1;
		transform: translateX(0);
	}
}

.bottom {
	display: flex;
	justify-content: center;
	gap: 2rem;

	&__left {
		flex: 0 1 340px;
	}

	&__right {
		@include media-breakpoint-up(lg) {
			display: block;
			flex: 1 0 530px;
		}

		@include mobile {
			margin-top: 3rem;
		}
	}

	&__left,
	&__right {
		@media (min-width: $tablet-width) {
			background: $darkBg;
			padding: 2rem;
			border-radius: 1rem;
		}
	}

	@include tablet {
		flex-wrap: wrap;
	}

	@include mobile {
		flex-wrap: wrap;
	}
}

.go-to-merch {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	&__title {
		width: 100%;
		margin-bottom: 2rem;
		text-align: center;
		font-size: 26px;
		line-height: 1;
	}

	&__link {
		position: relative;

		&::after {
			content: "\27a4";
			position: absolute;
			top: 6px;
			left: 100%;
			text-shadow: none;
			animation: arrow 1s linear infinite;
		}
	}

	&__content {
		text-align: center;
    	display: flex;
    	align-items: flex-end;

		img {
			$k: 1;
			$male: 400px;
			$female: $male * $k;
			width: auto;

			&[src*='tshirt-2'] {
				aspect-ratio: 365/719;
    			width: $male;
			}

			&[src*='tshirt-1'] {
				aspect-ratio: 292/619;
    			width: $female;
			}

			&[src*='2024-dark'] {
				//aspect-ratio: 447/560;
    			width: $male;
			}

			&[src*='2024-color'] {
				//aspect-ratio: 619/600;
    			width: $female;
			}
		}

		@include tablet {
			padding-inline: 5rem;
		}

		@include mobile {
			padding-inline: 0;
			margin-bottom: 2rem;
		}
	}
}

@media (max-width: 575px) {
	$gap: 1rem;

	.featured-artists-wrapper {
		width: calc(100vw - #{$gap} * 2);
	}
}

::ng-deep .release-card {
	border: 1px solid gainsboro;
}

::ng-deep .deco {
	svg {
		width: 250px;
		height: auto;
		margin: auto;
		display: block;
	}
}

.deco2 {
	margin-bottom: 1rem;

	svg {
		width: 250px;
	}
}

.deco3 {
	margin-top: 1rem;
	margin-bottom: 5rem;

	svg {
		width: 250px;
	}
}

.podcast-wrapper {
	position: relative;

	.deco svg {
		width: 200px;
	}

	.deco4 {
		transform: rotate(90deg);
		position: absolute;
		right: -181px;
    	bottom: 100px;
	}

	.deco5 {
		transform: rotate(-90deg);
		position: absolute;
		left: -181px;
		bottom: 100px;
	}
}

::ng-deep .deco1 {
	margin-bottom: 1rem;
}